.filters-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 150px;
  padding-left: 25px;
}

.announcements-list {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.announcements-list > * {
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .announcements-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 275px;
    margin: 10px 5px;
  }

  .filters-icons {
    display: none;
  }
}

@media (min-width: 850px) {
  .announcements-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 275px;
    margin: 10px 5px;
  }

  .filters-icons {
    display: none;
  }
}
