.filters-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 150px;
  padding-left: 25px;
}

.announcements-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.announcements-list > * {
  margin: 15px;
}

@media (min-width: 600px) {
  .announcements-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }

  .filters-icons {
    display: none;
  }
}

@media (min-width: 850px) {
  .announcements-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
  }

  .filters-icons {
    display: none;
  }
}
