@import "../../../src/styles/variables";

.homepage {
  &__image {
    background-image: url("../../images/home1.jpg");
    width: 100vw;
    height: 195px;
    background-size: cover;
    margin-top: 0;
  }
}

h3 {
  padding: 15px;
  margin: 0;
  text-align: center;
}

.search {
  height: 390px;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;

  .search-text {
    font-weight: bold;
    text-align: center;
  }

  .search-box {
    background-color: $primary;
    height: 60%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    &__input {
      width: 230px;
      height: 30px;
      border-radius: 10px;
    }

    &__button {
      width: 230px;
      height: 30px;
    }
  }
}
