@import "../../../src/styles/variables";

.homepage {
  &__image {
    background-image: url("../../images/home1.jpg");
    width: 100vw;
    height: 205px;
    background-size: cover;
    margin-top: 0;
  }

  &__search {
    height: 380px;
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bienvenida {
  padding-top: 30px;
  margin: 0;
  text-align: center;
}

.search-box {
  background-color: $primary;
  height: 275px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 30px;

  &__input {
    width: 230px;
    height: 35px;
    border-radius: 10px;
    border: none;
    box-shadow: $box-shadow;
  }

  &__button {
    width: 230px;
    height: 35px;
    border: none;
    box-shadow: $box-shadow;
  }
}

@media (min-width: 550px) {
  .homepage {
    background-image: url("../../images/home1.jpg");
    width: 100vw;
    background-size: cover;
    margin-top: 0;
  }

  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $button-color;
    height: 180px;
    width: 90%;
    margin: 20px;

    &__input {
      width: 60%;
      height: 35px;
      border-radius: 10px;
      border: none;
      box-shadow: $box-shadow;
    }

    &__button {
      width: 40%;
      border: none;
      box-shadow: $box-shadow;
    }
  }

  .search-box > * {
    height: 70px;
  }
}

@media (min-width: 900px) {
  .homepage {
    background-image: url("../../images/home1.jpg");
    width: 100vw;
    height: 706x;
    background-size: cover;
    margin-top: 0;
  }

  .search-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $button-color;
    height: 180px;
    width: 920px;
    margin: 20px;

    &__input {
      width: 60%;
      border-radius: 10px;
      border: none;
      box-shadow: $box-shadow;
    }

    &__button {
      width: 40%;
      border: none;
      box-shadow: $box-shadow;
    }
  }

  .search-box > * {
    height: 70px;
  }
}
