.signin-form {
  min-height: 80vh;
  width: 350px;
}

.login-button {
  width: fit-content;
  width: 100%;
}

.registrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
