@import "../../../src/styles/variables";

.header {
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  background-color: $secondary;
  color: white;

  &__logo {
    width: 25px;
    height: 19px;
  }

  &__title {
    width: 75px;
    height: 19px;
    font-size: 3px;
  }

  &__list {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
  }

  &__item {
    display: inline;
    padding: 0 $lateral-pading;
  }
}

button {
  background-color: $button-color;
  border-radius: $border-radius;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
