@import "../../../src/styles/variables";

.header {
  height: 55px;
  background-color: $secondary;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  &__logotitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    padding-left: 35px;
  }

  &__logo {
    width: 25px;
    height: 19px;
  }

  &__title {
    width: 70px;
    height: 19px;
    font-size: 14px;
    font-weight: bold;
  }

  &__list {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    padding-right: 35px;
    padding-left: 0;
  }

  &__item {
    display: inline;
    font-size: 14px;
    // background-color: $button-color;
    // border-radius: $border-radius;
    // color: white;
    // font-weight: bold;
  }
}

button {
  background-color: $button-color;
  border-radius: $border-radius;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
