@import "../../../src/styles/variables";

.card {
  background-color: white;
  border-radius: 35px 0 35px 0;
  width: 290px;
  height: fit-content;

  &__image {
    height: 125px;
    width: 290px;
    border-radius: 35px 0 0 0;
    background-size: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__info1 {
    justify-content: space-between;
  }

  &__info2 {
    display: flex;
    justify-content: flex-start;
  }

  &__contact {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-bottom: 10px;
  }
}

.fav {
  margin-left: 0 0 0 15px;
}

.card-image {
  border-radius: 35px 0 0 0;
}
