@import "../../../src/styles/variables";

.card {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: 290px;
  height: 180px;

  &__image {
    height: 125px;
    width: 290px;
    border-radius: 5px;
    background-size: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__info1 {
    justify-content: space-between;
  }

  &__info2 {
    display: flex;
    justify-content: flex-start;
  }

  &__contact {
    display: flex;
    justify-content: flex-end;
  }
}
