.register {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 15px;
}

.container {
  position: absolute;
  top: 250px;
}

.form-control {
  border-radius: 10px;
  margin: 10px 15px;
}

.signup-button {
  width: fit-content;
  margin-top: 20px;
}
