@import "../../../src/styles/variables";

.form {
  margin: 13px;
}

h5 {
  text-align: center;
  margin-bottom: 5x;
}

.form-control {
  height: 30px;
}

.add-update {
  background-color: $button-color;
  border-radius: $border-radius;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
