@import "./styles/_variables.scss";

.app {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 55vh;
  width: 350px;
  border: 2px solid #bdbdbd;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.15) 2.5px 2.5px 1.9px;
  padding: 0 30px;
  margin-top: 40px;
}

.form-title {
  font-weight: bold;
}

.form-control {
  border-radius: $border-radius;
  margin: 10px;
  width: 275px;
  height: 30px;
}

.map {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}
