@import "./styles/_variables.scss";

.app {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 60vh;
  width: 350px;
  border: 1px solid grey;
  border-radius: $border-radius;
  padding: 0 30px;
  margin-top: 40px;
}

.form-control {
  border-radius: $border-radius;
  margin: 10px;
}

.map {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
}
